* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  width: 100%;
  background-color: #18171cef;
  max-width: 1080px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}
